{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- BEGIN content -->
  <div id="content">
    <!-- begin post -->
    <div class="single">
      <h2>Contact Us</h2>
      <p>Idnec nulla fuscinia ridictus nunc et morbi at morbi senean tincidunt. Antsempus morbi quis in sempus convallis dui vestie eu phasellentesquet nam. Pulvinareipsum sit nibh id nas eu magnisse alique id nam curabitur. Etenim consequam nec ant senean leo morbi urna velit rutrum consectum. Sedpretium nulla vel ero liberos facilis dis cursus adipiscing lacus intesque.</p>
    </div>
    <!-- end post -->
    <!-- begin comments -->
    <div id="comments">
      <div id="respond">
        <form  method="POST" action="contact">
          {% csrf_token %}
          <div class="">
            <label  class="form-label">Name</label><br>
            {{form.name}}
          </div><br>
          <div class="">
            <label  class="form-label">Email</label><br>
            {{form.email}}
          </div><br>
          <div class="">
            <label  class="form-label">Url</label><br>
            {{form.url}}
          </div><br>
          <div class="">
            <label  class="form-label">Comment</label><br>
            {{form.comment}}
          </div><br>
            <input type="submit" style="width: 100px; background-color: rgb(37, 37, 37); color: white; border-radius: 5px;" >
        
        </form>
        <P>{{response}}</P>
      </div>
    </div>
    <!-- end comments -->
  </div>
  <!-- END content -->
  <!-- BEGIN sidebar -->
  <div id="sidebar">
    <!-- begin ads -->
    <div class="ads"> <a href="#"><img src="{% static 'images/ad125x125.jpg' %}" alt="" /></a> <a href="#"><img src="{% static 'images/ad125x125.jpg' %}" alt="" /></a> <a href="#"><img src="{% static 'images/ad125x125.jpg'%}" alt="" /></a> <a href="#"><img src="{% static 'images/ad125x125.jpg' %}" alt="" /></a> </div>
    <!-- end ads -->
    <!-- begin search -->
    <form class="searchh" action="">
      <input type="text" name="country" id="s" placeholder="Search by country" />
      <button type="submit" class="btn">Search</button>
    </form>
    <!-- end search -->
    <div class="wrapper">
      <!-- begin popular posts -->
      <!-- <h2>Popular Posts</h2>
      <ul>
        {% for nws in populer %}
        <li><a href="{{nws.url}}" target="_blank">{{nws.title}}</a></li> 
        <li><a href="#">Top 100 Internet Marketing Tips</a></li>
        <li><a href="#">Tutorial: How to add Videos in your Post</a></li>
        <li><a href="#">Sample Post Unordered List</a></li>
        <li><a href="#">Sample Post Blockquote</a></li>
        {% endfor %}
      </ul> -->
      <!-- end popular posts -->
      <!-- begin flickr photos -->
      <h2>Flickr Photos</h2>
      <div class="flickr"> <a href="#"><img src="{% static 'images/_thumb3.jpg'%}" alt="" /></a> <a href="#"><img src="{% static 'images/_thumb4.jpg'%}" alt="" /></a> <a href="#"><img src="{% static 'images/_thumb5.jpg' %}" alt="" /></a> <a href="#"><img src="{% static 'images/_thumb6.jpg'%}" alt="" /></a> <a href="#"><img src="{% static 'images/_thumb7.jpg' %}" alt="" /></a> <a href="#"><img src="{% static 'images/_thumb8.jpg' %}" alt="" /></a> </div>
      <!-- end flickr photos -->
      <!-- begin featured video -->
      <h2>Featured Video</h2>
      <div class="video"> <img src="{% static 'images/_video.jpg'%}" alt="" /> </div>
      <!-- end featured video -->
      <!-- begin tags -->
      <h2>Tags</h2>
      <div class="tags"> </div>
      <!-- end tags -->
      <!-- BEGIN left -->
      <div class="l sbar">
        <!-- begin categories -->
        <h2>Categories</h2>
        <ul>
          <li><a href="{% url 'home' %}?category=business">Business</a></li>
          <li><a href="{% url 'home' %}?category=entertainment">Entertainment</a></li>
          <li><a href="{% url 'home' %}?category=general">General</a></li>
          <li><a href="{% url 'home' %}?category=health">Health</a></li>
          <li><a href="{% url 'home' %}?category=science">Science</a></li>
          <li><a href="{% url 'home' %}?category=sports">Sports</a></li>
          <li><a href="{% url 'home' %}?category=technology">Technology</a></li>
        </ul>
        <!-- end categories -->
        <!-- begin pages -->
        <!-- <h2>Pages</h2>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="#">Archives</a></li>
          <li><a href="#">Links</a></li>
          <li><a href="contect">Contact</a></li>
          <li><a href="#">Sitemap</a></li>
        </ul> -->
        <!-- end pages -->
      </div>
      <!-- END left -->
      <!-- BEGIN right -->
      <div class="r sbar">
         <!-- begin pages -->
         <h2>Pages</h2>
         <ul>
           <li><a href="">Home</a></li>
           <li><a href="about">About</a></li>
           <li><a href="#">Archives</a></li>
           <li><a href="#">Links</a></li>
           <li><a href="contect">Contact</a></li>
           <li><a href="#">Sitemap</a></li>
         </ul>
         <!-- end pages -->
        <!-- begin archives -->
        <!-- <h2>Archives</h2>
        <ul>
          <li><a href="#">August 2008</a></li>
          <li><a href="#">July 2008</a></li>
          <li><a href="#">June 2008</a></li>
          <li><a href="#">May 2008</a></li>
          <li><a href="#">April 2008</a></li>
          <li><a href="#">March 2008</a></li>
        </ul> -->
        <!-- end archives -->
        <!-- begin blogroll -->
        <!-- <h2>Blogroll</h2>
        <ul>
          {% for nws in populer %}
          <li><a href="#">{{nws.source.id}}</a></li>
          {% endfor %}
        </ul> -->
        <!-- end blogroll -->
        <!-- begin meta -->
        <h2>Meta</h2>
        <ul>
          <li><a href="#">Login</a></li>
        </ul>
        <!-- end meta -->
      </div>
      <!-- END right -->
    </div>
  </div>
  <!-- END sidebar -->
  <!-- BEGIN footer -->
  {% endblock %}